html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   MOBILE FIRST STYLES -- This is for mobile views
   ========================================================================== */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.container:after {
  content: '';
  display: block;
  clear: both;
  padding: 0em;
}

body {
    background:url(../images/repeat-background.jpg) center center;
    font-size: 18px;
    font-family: avenir next condensed, sans-serif;
    text-align: left;
    margin: auto;
}

.overlay {
    background-color: rgba(255,255,255,0.8);
}

.mmm-1 {
    display: block;
    width:70%;
    margin: 0 auto;
    padding-top: 9em;
}
.mmm-2 {
    display: none;
}

h1 {
    padding: .5em .5em 0em .4em;
    margin: 0 auto;
    font-size: 2.5em;
}

.mmm {
    width: 80%;
    padding: 0em 1em 1em 1em;
    display: block;
    max-width: 300px;
}

.profile {
    
}

.aintno {
    display: none;
}

.itis {
    display: none;
}

.apples {
    display: none;
    }    
    
.moments {
    display: none;    
    }   
 
.peoples {
    display: none;    
    }

.thumb {
    display: none;
}

.about {
    padding: 0em 1em;
    display: relative;
}

.hi {
    font-weight: 700;
    color: #1979f7;
}

p {
    padding-left: 2em;
    margin-top: 0em;
    margin-bottom: .5em;
}

.contact {
    padding: 0em 1em;
}

.lately {
    padding: 0em 1em;
}

.insta {
    margin: 0 auto;
}

.social {
    padding: 1em 0em 1em 1em;
}

.shop {
    position: relative;
    width: 100%;
    padding-bottom: 1em;
    display: block;
    margin: 0 auto;
}

.description {
    margin: 0 auto;
    padding: 0em 1em 3em 1.5em;
    display: block;
}

.nonshop {
    display: none;    
    }

.selected{
    color: #1979f7!important;
    }

.left {
    width: 70%;
    float: none;
    display: block;
    padding: .25em 0em 0em 2em;
}

.mid, .right {
    width: 70%;
    float: none;
    display: block;
    padding: 1em 0em 0em 2em;
    }

h2 {
    padding: .5em 0em .5em .25em;
    margin: 0 auto;
}


.grid {
    padding: 0em; 
}

.square {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0em;
}

.square:hover {
    opacity:.7;   
    }



/***************** SPLASH *****************/

.splash {
	height: 700px;
	z-index: 999;
	text-align: center;
}


a.splash-arrow {
	color: #1979f7;
	font-size: 1.2em;
	display:inline-block;
    position:relative;
    padding: 0;
    text-decoration: none;
    line-height: 50px;
	top:75%;
	font-weight: bold;
	transition: all 0.2s ease;
    margin-top: 45%;  
}

a.splash-arrow:hover {
	color: #0DFBFB;
}





/******************** NAV ********************/

nav {
    margin: 0 auto;
}

nav ul li {
    display: inline;
    padding: 0em 2em 0em 0em;
    margin: 0 auto;
}


/******************** SUB-NAV ********************/

.subnav ul li {
    display: block;
    list-style-type: none;
    margin-left: 4.75em;
}

.subnav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: .75em;
}

.subnav a:hover {
    color: #0DFBFB;
} 



/* ==========================================================================
   MEDIA QUERIES -- This is for transition betweent the mobile and desktop views
   ========================================================================== */

@media only screen and (min-width: 600px) and (max-width: 1050px)  {
    
.shop {
    width: 30%;
    float: left;
}
    
.description {
    width: 30%;
    float: left;
    display: block;
}   
   
    
    
    
    
    
    
    
} /*******DON'T DELETE THIS BRACKET-END OF TRANSITION FROM MOBILE TO DESKTOP QUERY********/




/* ==========================================================================
   MEDIA QUERIES -- This is for desktop views
   ========================================================================== */

@media only screen and (min-width: 600px) {
    
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    }
    
.mmm-1 {
    display: none;
}
    
.mmm-2 {
    margin: 0 auto;
    width: 80%;
    display: block;
    padding-top: 13em;
}
    
.container:after {
    content: "";
    display: table;
    clear: both;
    transition: all 600ms ease;

}

body {
    background:url(../images/repeat-background.jpg) center center;
    font-size: 18px;
    font-family: avenir next condensed, sans-serif;
    text-align: left;
}

.overlay {
    background-color: rgba(255,255,255,0.8);
}

.overlay:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
    padding-left: .4em;
    font-size: 2.5em;
    margin: 0 auto;
}

.mmm {
    padding-left: 1em;
    clear: both;
    display: block;
    width: 300px;
}

.profile {
    float:left;
    padding: 1.1em 0em 1.75em 0em;
    width: 30%;
    min-width:400px;
}

.about {
    float: right;
    width: 60%;
    display: block;
    padding-left: 0em;   
}

.hi {
    font-weight: 700;
    color: #1979f7;
}

.contact {
    float: left;
    padding-right: 5em;
    padding-left: 0em;
}

.lately {
    float: right;
    width: 60%;
}

h2 {
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0 auto;
}    

.contacth2 {
    padding-left: .75em;
    padding-top: 1em
    }    
    
p {
    padding-left: 2.75em;
    padding-right: .6em;
    margin-top: 0em;
    margin-bottom: .5em;
}

.insta {
    padding-top: 1em;
}

.left {
    padding-left: 3em;
    width: 28%;
    display: inline;
    padding-top: 0em;
    padding-bottom: .5em;
}
    
.mid, .right {
    padding-left: 1em;
    width: 28%;
    display: inline;
    padding-top: 0em;
    padding-bottom: .5em;
}
 
.left:hover {
    opacity:.7;   
    }
    
.mid:hover {
    opacity:.7;   
    }
    
.right:hover {
    opacity:.7;   
    }    
    
.social {
    float: left;
    display: inline-block;
    padding: 1.5em 0em .5em 1em;
}    

.aintno {
    display: none;
}

.itis {
    display: none;
}
        
.apples {
    display: none;
    }    
    
.moments {
    display: none;    
    }   
 
.peoples {
    display: none;    
    }
    
.thumb {
    display: none;
}    

.shop {
    display: block;
    width: 40%;
    float: left;
    padding-bottom: 4em;
    margin-left: 6.9em;
}

.shop:hover {
    opacity:.7;   
    }    
    
.description {
    float: right;
    display: block;
    width: 40%;
    margin-right: 4em;
    padding: 0em;
}    
    
.nonshop {
    display: none;    
    }

.monogram {
    border: 1px  solid black;
    display: block;
    width: 40%;
    float: left;
    margin-left: 6.9em;
    animation-duration: 5s;
    }
    
.icons {
    float: left;
    position: relative;
    } 
  
video.thumbvid {
    display: block;
    width: 40%;
    float: left;
    padding-bottom: 4em;
    margin-left: 6.9em;
    background-size: contain;
    }
    
.foot {
    text-align: center;
    font-size: .75em;
    padding-top: 2em;
    }
    
.grid {
    float: left;
    width: 33%;
    margin:0 auto;
    padding: 0em;
}

.square {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0em;
}  
    
.row1, .row2, .row3 {
    clear: both;    
    }    

.square:hover {
    opacity:.7;   
    }    
    
    
    
    
/***** ----- splash arrow --*****/
    
a.splash-arrow {
	
	display:inline-block;
    position:relative;
    padding: 0;
    line-height: 50px;
	top:75%;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
    margin-top: 20%;
    
}
    
    
/******** ---- grid ---- ********/

.grid {
    
  
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

    
/********* ---- grid-item ---- *********/

.grid-sizer,
.grid-item {
  width: 10%;
}

.grid-item--width1 { width: 10%; }
.grid-item--width2 { width: 20%; }
.grid-item--width3 { width: 30%; }
.grid-item--width4 { width: 40%; }
.grid-item--width5 { width: 50%; }
.grid-item--width6 { width: 60%; }
.grid-item--width7 { width: 70%; }
.grid-item--width8 { width: 80%; }
.grid-item--width9 { width: 90%; }
.grid-item--width10 { width: 100%; }
    
    
}/****DON'T DELETE THIS BRACKET--END OF MEDIA DESKTOP QUERY****/

/* ==========================================================================
   TRANSITION FROM DESKTOP TO MOBILE VIEW
   ========================================================================== */

@media only screen and (min-width: 600px) and (max-width: 1200px)  {
.about, .lately {
    float: none;
    display: block;
    margin: 0 auto;
    }

.profile {
    padding-right: 1.75em;
    
    }    
    
.lately {
    
    position: relative;
    display: block;
    }    
    
.left, .mid, .right {
    width: 40%;
    }    
    
.icons {
    float: left;
    display: block;
    } 
    
    
.lately {
    padding: 0em;    
    }    
    
}/****DON'T DELETE THIS BRACKET****/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



